# App
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Database (if using Prisma)
# DATABASE_URL=

# AUTH - generate with: npx auth secret
# AUTH_URL=http://localhost:3000
# AUTH_SECRET=

# Third-party API tokens
# API_KEY=
